/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* custom styles */

*, 
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    line-height: 1.2;
    font-family: "Nunito", "serif";
    background-image: linear-gradient(to right, rgba(106, 117, 216), rgba(59, 137, 138));
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-dir-col{
    flex-direction: column;
}

.justify-sb{
    justify-content: space-between;
}

.justify-ct{
    justify-content: center;
}

.align-ct{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.flex-33{
    flex: 0 1 33%;
}

header{
    padding: 1rem 0;

}

.brand h1{
    font-size: 1.7rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

/* book container */
.book{
    display: inline-flex;
    border: 1.4px dashed #f46363;
    background-color: #fff;
    padding: 1rem;
    height: 150px;
    position: relative;
}

.book-title{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.author{
    font-size: 1rem;
    font-weight: 700;
    margin: 1.2rem 0;
}

.characters-btn{
    display: inline-block;
    font-size: 0.8rem;
    background-color: #000000;
    color: #fff;
    padding: 0.4rem 0.7rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 10px;
}

/* Spinner */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
  /* modal */
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 10px;
  }

  .modal-header{
      padding: 0.5rem;
  }

  .modal-heading{
    font-size: 1.6rem;
    font-weight: 700;
    background: linear-gradient(to right, rgba(106, 117, 216), rgb(33, 134, 136));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

  .character-items{
      border: 2px solid black;
      padding: 0.5rem;
      margin: 0.5rem 0;
      font-size: 1.1rem;
      font-weight: 600;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }